html,
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    width: 100%; 
    position: relative;
}


h1, h2, h3{
    font-family: "Hanken Grotesk", sans-serif;
}

.quote{
    font-family: "Hanken Grotesk", sans-serif;
}

.conference-topic-card-container{
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;

}

.conference-topic-card-1 {
    width: 100%;
    height: 100%;
    background-image: url("../Images/conference-topic-1.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.conference-topic-card-2 {
    width: 100%;
    height: 100%;
    background-image: url("../Images/conference-topic-2.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.conference-topic-card-3 {
    width: 100%;
    height: 100%;
    background-image: url("../Images/conference-topic-3.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.conference-topic-card-container:hover .conference-topic-card-1,
.conference-topic-card-container:hover .conference-topic-card-2,
.conference-topic-card-container:hover .conference-topic-card-3 {
  transform: scale(1.05);
}

.about-us-box {
    transition: all 0.3s ease;
}
.about-us-box:hover {
    scale: 1.05;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.quote-symbol {
    cursor: pointer;
    transition: all 0.6s ease;
}

.quote-symbol:hover {
    rotate: 360deg;
}

.future-speakers-card {
    padding: 12px;
    border-radius: 16px;
    transition: all 0.3s ease;
}
.future-speakers-card:hover {
    scale: 1.05;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.event-ticket-cards{
    transition: all 0.3s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.event-ticket-cards:hover{
    scale: 1.05;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.social-icons {
    transition: all 0.5s ease;
}

.social-icons:hover{
    scale: 1.3;
}
